h1,
h2,
h1 a,
h2 a {
  text-decoration: none;
  font-family: "Lobster";
  color: #c25100;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  padding-left: 5rem;
  background-color: #3f3f3f;
}

.header-container a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.header-container a:hover {
  color: #c25100;
  transition: all;
  transition-duration: 150ms;
}

.posts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 75%;
  margin: auto;
}

.post {
  margin-top: 1.5rem;
  padding-inline: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: antiquewhite;
  width: 100%;
  border-radius: 15px;
}

.tags_container {
  font-size: small;
}

.tag {
  text-decoration: none;
  background-color: #c25100;
  color: white;
  padding-inline: 0.3rem;
  padding-bottom: 0.2rem;
  border-radius: 0.3rem;
}

.tag:hover {
  background-color: #cd661d;
  color: white;
  transition: all;
  transition-duration: 150ms;
}

.post-to-publish {
  margin-top: 1.5rem;
  padding-inline: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgb(212, 255, 219);
  width: 100%;
  border-radius: 15px;
}

.post-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 75%;
  margin: auto;
}

.date {
  padding-bottom: 1rem;
  font-size: small;
  color: grey;
}

.post-content {
  padding-top: 1rem;
}

.post-content-preview {
  margin-top: 1rem;
}

.form-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  max-width: 50%;
}

.form-container p {
  display: flex;
  flex-direction: column;
}
